<div class="col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4><i class="icon-layers"></i> List
				<button class="btn btn-primary pull-right" ng-click="app.add(this)">Add</button>
				<button class="btn btn-inverse pull-right" ng-click="app.print(this)" style="margin-right: 5px;"><i class="fa fa-print"></i> PRINT ALL</button>
			</h4>
		</div>
		<div class="panel-body">
			<table id="clubs" class="table table-striped table-bordered">
			  <thead>
				<tr>
				  <th>No.</th>
				  <th>Name</th>
				  <th>Student Affairs Officer</th>
				  <th>Date Added</th>
				  <th>&nbsp;</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="c in clubs">
				  <td>{{c.id}}</td>
				  <td>{{c.enrollment_id.fullname}}</td>
				  <td>{{c.part}}</td>
				  <td>{{c.date_added}}</td>
				  <td>
				  <button class="btn btn-sm btn-primary" ng-click="app.add(this,c)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
				  <button class="btn btn-sm btn-googleplus" ng-click="app.delete(this,c)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>