<div class="col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4><i class="icon-layers"></i> List
			<button class="btn btn-primary pull-right" ng-click="app.student(this)">Add</button>
			</h4>
		</div>
		<div class="panel-body">
			<table id="students" class="table table-striped table-bordered">
			  <thead>
				<tr>
				  <th>No.</th>
				  <th>Name</th>
				  <th>Sex</th>
				  <th>Home Address</th>
				  <th>Course</th>
				  <th>&nbsp;</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="s in students">
				  <td>{{s.id}}</td>
				  <td>{{s.fullname}}</td>
				  <td>{{s.sex}}</td>
				  <td>{{s.home_address}}</td>
				  <td>{{s.course}}</td>
				  <td>
				  <button class="btn btn-sm btn-primary" ng-click="app.student(this,s)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
				  <button class="btn btn-sm btn-googleplus" ng-click="app.delete(this,s)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>