<div class="col-lg-9">
	<div class="card-box">
		<div class="row">
			<h4 class="m-t-0 header-title"><b>Code of Discipline Information</b></h4><hr>
			<form name="formHolder.code" name="formHolder.code" novalidate autocomplete="off">				
				<div class="row">
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.code.code_number.$touched && formHolder.code.code_number.$invalid}">
						<label>Code Number</label>
						<input type="text" class="form-control" name="code_number" ng-model="code.code_number" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.code.code_number.$touched && formHolder.code.code_number.$invalid">Code number is required</span>
					</div>
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.code.code_title.$touched && formHolder.code.code_title.$invalid}">
						<label>Code Title</label>
						<input type="text" class="form-control" name="code_title" ng-model="code.code_title" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.code.code_title.$touched && formHolder.code.code_title.$invalid">Code title is required</span>
					</div>
				</div>
				<hr>
			</form>
		</div>
	</div>
</div>

<div class="col-lg-3">
	<div class="card-box">
		<div class="row">
			<h4 class="m-t-0 header-title"><b>Actions</b></h4><hr>
			<div class="col-lg-12">
				<div class="list-group mail-list  m-t-20">
					<a href="#" class="list-group-item b-0 btn btn-primary" ng-click="app.edit(this)" style="margin-bottom: 4px;"><i class="fa fa-edit m-r-10"></i>Edit</a>
					<a href="#" class="list-group-item b-0 btn btn-success" ng-click="app.save(this)" style="margin-bottom: 4px;"><i class="fa fa-check m-r-10"></i>{{btns.ok.label}}</a>
					<a href="#" class="list-group-item b-0 btn btn-danger" ng-click="app.cancel(this)"><i class="fa fa-sign-out"></i>  {{btns.cancel.label}}</a>
				</div>
			</div>
		</div>
	</div>
</div>

