<div class="col-lg-9">
	<div class="card-box">
		<div class="row">
			<h4 class="m-t-0 header-title"><b>Curriculum Information</b></h4><hr>
			<form name="formHolder.curriculum" novalidate autocomplete="off">				
				<div class="row">
					<div class="col-lg-12 form-group" ng-class="{'has-error': formHolder.curriculum.course_id.$touched && formHolder.curriculum.course_id.$invalid}">
						<label>Course</label>
						<select class="form-control" name="course_id" ng-model="curriculum.course_id" ng-disabled="btns.ok.btn" ng-options="c.course_name for c in courses track by c.id" required></select>
						<span class="help-block" ng-show="formHolder.curriculum.course_id.$touched && formHolder.curriculum.course_id.$invalid">Course is required</span>
					</div>
				</div>
				<div class="row">
					<!--<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.curriculum.year_name.$touched && formHolder.curriculum.year_name.$invalid}">
						<label>Year</label>
						<select type="text" class="form-control" name="year_name" ng-model="curriculum.year_name" ng-disabled="btns.ok.btn" required>
							<option value="First Year">First Year</option>
							<option value="Second Year">Second Year</option>
							<option value="Third Year">Third Year</option>
							<option value="Fourth Year">Fourth Year</option>
						</select>
						<span class="help-block" ng-show="formHolder.curriculum.year_name.$touched && formHolder.curriculum.year_name.$invalid">Year is required</span>
					</div> -->
					<div class="col-lg-12 form-group" ng-class="{'has-error': formHolder.curriculum.semester.$touched && formHolder.curriculum.semester.$invalid}">
						<label>Year & Semester</label>
						<select type="text" class="form-control" name="semester" ng-model="curriculum.semester" ng-disabled="btns.ok.btn" required>
							<option value="1st year & 1st Semester">1st year & 1st Semester</option>
							<option value="1st year & 2nd Semester">1st year & 2nd Semester</option>
							<option value="2nd year & 1st Semester">2nd year & 1st Semester</option>
							<option value="2nd year & 2nd Semester">2nd year & 2nd Semester</option>
							<option value="3rd year & 1st Semester">3rd year & 1st Semester</option>
							<option value="3rd year & 2nd Semester">3rd year & 2nd Semester</option>
							<option value="4th year & 1st Semester">4th year & 1st Semester</option>
							<option value="4th year & 2nd Semester">4th year & 2nd Semester</option>
						</select>
						<span class="help-block" ng-show="formHolder.curriculum.semester.$touched && formHolder.curriculum.semester.$invalid">Semester is required</span>
					</div>
				</div>
				<!-- <hr>
				<div class="row">
					<button class="btn btn-primary pull-right" style="margin-right: 10px;" ng-disabled="btns.ok.btn" ng-click="app.curriculum_data.add(this)">Add</button>
				</div>
				<br>
				<div class="" ng-repeat="cc in curriculum.curriculum_datas">
					<div class="row">
						<button class="btn btn-danger pull-right" style="margin-right: 10px;" ng-click="app.curriculum_data.delete(this,cc)" ng-disabled="btns.ok.btn"><i class="fa fa-remove"></i></button>
					</div>
					<div class="row">
						<div class="col-lg-6 form-group">
							<label>Descriptive Title</label>
							<input type="text" class="form-control" name="descriptive_title{{index}}" ng-model="cc.descriptive_title" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-3 form-group">
							<label>Grade</label>
							<input type="text" class="form-control" name="grade{{index}}" ng-model="cc.grade" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-3 form-group">
							<label>Subject Code</label>
							<input type="text" class="form-control" name="subject_code{{index}}" ng-model="cc.subject_code" ng-disabled="btns.ok.btn">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 form-group">
							<label>Pre-Req</label>
							<input type="text" class="form-control" name="pre_req{{index}}" ng-model="cc.pre_req" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-3 form-group">
							<label>Units</label>
							<input type="text" class="form-control" name="units{{index}}" ng-model="cc.units" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-2 form-group">
							<label>Lec</label>
							<input type="text" class="form-control" name="lec{{index}}" ng-model="cc.lec" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-2 form-group">
							<label>Lab</label>
							<input type="text" class="form-control" name="lab{{index}}" ng-model="cc.lab" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-2 form-group">
							<label>Total</label>
							<input type="text" class="form-control" name="total{{index}}" ng-model="cc.total" ng-disabled="btns.ok.btn">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 form-group">
							<label>Day</label>
							<input type="text" class="form-control" name="day{{index}}" ng-model="cc.day" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-3 form-group">
							<label>Time</label>
							<input type="text" class="form-control" name="time{{index}}" ng-model="cc.time" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-3 form-group">
							<label>Room</label>
							<input type="text" class="form-control" name="room{{index}}" ng-model="cc.room" ng-disabled="btns.ok.btn">
						</div>
						<div class="col-lg-3 form-group">
							<label>Instructor</label>
							<select class="form-control" name="instructor{{index}}" ng-model="cc.instructor" ng-options="ins.fullname for ins in instructor track by ins.id" ng-disabled="btns.ok.btn"></select>
						</div>
					</div>
				</div> -->
			</form>
		</div>
	</div>
</div>

<div class="col-lg-3">
	<div class="card-box">
		<div class="row">
			<h4 class="m-t-0 header-title"><b>Actions</b></h4><hr>
			<div class="col-lg-12">
				<div class="list-group mail-list  m-t-20">
					<a href="#" class="list-group-item b-0 btn btn-inverse" ng-click="app.print(this,curriculum)" style="margin-bottom: 5px;"><i class="fa fa-print"></i> Print {{curriculum.course_id.course_short_name}}</a>
					<a href="#" class="list-group-item b-0 btn btn-primary" ng-click="app.edit(this)" style="margin-bottom: 4px;"><i class="fa fa-edit m-r-10"></i>Edit</a>
					<a href="#" class="list-group-item b-0 btn btn-success" ng-click="app.save(this)" style="margin-bottom: 4px;"><i class="fa fa-check m-r-10"></i>{{btns.ok.label}}</a>
					<a href="#" class="list-group-item b-0 btn btn-danger" ng-click="app.cancel(this)"><i class="fa fa-sign-out"></i>  {{btns.cancel.label}}</a>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-12">
	<div class="card-box">
		<div class="row">
			<button class="btn btn-primary pull-right" style="margin-right: 10px;" ng-disabled="btns.ok.btn" ng-click="app.curriculum_data.add(this)">Add</button>
		</div>
		<br>
		<div class="row">
			<table class="table table-striped table-bordered">
				<thead>
					<th>Grade</th>
					<th>Subject Code</th>
					<th>Descriptive Title</th>
					<th>Units</th>
					<th>Pre-Req</th>
					<th>Lec</th>
					<th>Lab</th>
					<th>Total</th>
					<th>Day</th>
					<th>Time</th>
					<th>Room</th>
					<th>Instructor</th>
					<th>Action</th>
				</thead>
				<tr ng-repeat="cc in curriculum.curriculum_datas">
					<td><input type="text" class="form-control" name="grade{{$index}}" ng-model="cc.grade" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="subject_code{{$index}}" ng-model="cc.subject_code" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="descriptive_title{{$index}}" ng-model="cc.descriptive_title" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="units{{$index}}" ng-model="cc.units" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="pre_req{{$index}}" ng-model="cc.pre_req" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="lec{{index}}" ng-model="cc.lec" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="lab{{index}}" ng-model="cc.lab" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="total{{index}}" ng-model="cc.total" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="day{{index}}" ng-model="cc.day" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="time{{index}}" ng-model="cc.time" ng-disabled="btns.ok.btn"></td>
					<td><input type="text" class="form-control" name="room{{index}}" ng-model="cc.room" ng-disabled="btns.ok.btn"></td>
					<td><select class="form-control" name="instructor{{index}}" ng-model="cc.instructor" ng-options="ins.fullname for ins in instructor track by ins.id" ng-disabled="btns.ok.btn"></select></td>
					<td><button class="btn btn-danger" ng-click="app.curriculum_data.delete(this,cc)"><i class="fa fa-remove"></i></button></td>
				</tr>
			</table>
		</div>
		<div class="row">
				<div class="col-lg-12">
					<button class="btn btn-primary btn-lg pull-right" ng-click="app.cancel(this)">{{btns.cancel.label}}</button>
					<button class="btn btn-primary btn-lg pull-right" style="margin-right: 5px;" ng-click="app.edit(this)">Edit</button>
					<button class="btn btn-success btn-lg pull-right" ng-disabled="btns.ok.btn" style="margin-right: 5px;" ng-click="app.save(this)">{{btns.ok.label}}</button>
				</div>
			</div>
	</div>
</div>



