<form name="formHolder.enrollment" name="formHolder.enrollment" novalidate autocomplete="off">
	<div class="col-lg-8">
		<div class="card-box">
			<div class="row">
				<h4 class="m-t-0 header-title"><b>Personal Information</b></h4><hr>
				<div class="row">
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.firstname.$touched && formHolder.enrollment.firstname.$invalid}">
						<label>First Name</label>
						<input type="text" class="form-control" name="firstname" ng-model="enrollment.firstname" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.firstname.$touched && formHolder.enrollment.firstname.$invalid">Firstname is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.lastname.$touched && formHolder.enrollment.lastname.$invalid}">
						<label>Last Name</label>
						<input type="text" class="form-control" name="lastname" ng-model="enrollment.lastname" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.lastname.$touched && formHolder.enrollment.lastname.$invalid">Lastname is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.middlename.$touched && formHolder.enrollment.middlename.$invalid}">
						<label>Middle Name</label>
						<input type="text" class="form-control" name="middlename" ng-model="enrollment.middlename" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.middlename.$touched && formHolder.enrollment.middlename.$invalid">Middlename is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 form-group" ng-class="{'has-error': formHolder.enrollment.home_address.$touched && formHolder.enrollment.home_address.$invalid}">
						<label>Home Address</label>
						<input type="text" class="form-control" name="home_address" ng-model="enrollment.home_address" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.home_address.$touched && formHolder.enrollment.home_address.$invalid">Home Address is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.dob.$touched && formHolder.enrollment.dob.$invalid}">
						<label>Date of Birth</label>
						<input type="date" class="form-control" name="dob" ng-model="enrollment.dob" ng-disabled="btns.ok.btn" ng-change="app.dob(this)" required>
						<span class="help-block" ng-show="formHolder.enrollment.dob.$touched && formHolder.enrollment.dob.$invalid">Date of Birth is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.pob.$touched && formHolder.enrollment.pob.$invalid}">
						<label>Place of Birth</label>
						<input type="text" class="form-control" name="pob" ng-model="enrollment.pob" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.pob.$touched && formHolder.enrollment.pob.$invalid">Place of Birth is required</span>
					</div>
					<div class="col-lg-2 form-group" ng-class="{'has-error': formHolder.enrollment.sex.$touched && formHolder.enrollment.sex.$invalid}">
						<label>Sex</label>
						<select class="form-control" name="sex" ng-model="enrollment.sex" ng-disabled="btns.ok.btn" required>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
						<span class="help-block" ng-show="formHolder.enrollment.sex.$touched && formHolder.enrollment.sex.$invalid">Sex is required</span>
					</div>
					<div class="col-lg-2 form-group" ng-class="{'has-error': formHolder.enrollment.age.$touched && formHolder.enrollment.age.$invalid}">
						<label>Age</label>
						<input type="text" class="form-control" name="age" ng-model="enrollment.age" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.age.$touched && formHolder.enrollment.age.$invalid">Age is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.religion.$touched && formHolder.enrollment.religion.$invalid}">
						<label>Religion</label>
						<input type="text" class="form-control" name="religion" ng-model="enrollment.religion" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.religion.$touched && formHolder.enrollment.religion.$invalid">Religion is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.status.$touched && formHolder.enrollment.status.$invalid}">
						<label>Civil Status</label>
						  <select class="form-control" name="status" ng-model="enrollment.status" ng-disabled="btns.ok.btn" required>
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Widow/er">Widow/er</option>
							<option value="Legally Separated">Legally Separated</option>
							<option value="Annulled">Annulled</option>
						  </select>
						<span class="help-block" ng-show="formHolder.enrollment.status.$touched && formHolder.enrollment.status.$invalid">Status is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.phone_number.$touched && formHolder.enrollment.phone_number.$invalid}">
						<label>Phone Number</label>
						<input type="text" class="form-control" name="phone_number" ng-model="enrollment.phone_number" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.phone_number.$touched && formHolder.enrollment.phone_number.$invalid">Phone Number is required</span>
					</div>
				</div>
				<div class="row" ng-show="enrollment.status == 'Married'">
					<div class="col-lg-4 form-group">
						<label>Name of Spouse (if married)</label>
						<input type="text" class="form-control" name="name_of_spouse" ng-model="enrollment.name_of_spouse" ng-disabled="btns.ok.btn">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card-box">
			<div class="row">
				<div class="col-lg-12">		
					<img id="front_picture" src="pictures/avatar.png" alt="image" class="img-responsive img-rounded" width="300">
					<h5><button class="btn btn-inverse" ng-click="snapshot.start(this,'front')"><i class="icon-camera"></i></button> <button class="btn btn-inverse" ng-click="app.print(this,enrollment)"><i class="icon-printer"></i></button></h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 form-group">
				<label>Date of Enrollment</label>
				<h4>{{enrollment.date_of_enrollment}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<button class="btn btn-primary btn-lg pull-right" ng-click="app.cancel(this)">{{btns.cancel.label}}</button>
				<button class="btn btn-primary btn-lg pull-right" style="margin-right: 5px;" ng-click="app.edit(this)">Edit</button>
				<button class="btn btn-success btn-lg pull-right" ng-disabled="btns.ok.btn" style="margin-right: 5px;" ng-click="app.save(this)">{{btns.ok.label}}</button>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="card-box">
			<div class="row">
				<h4 class="m-t-0 header-title"><b>Parents</b></h4><hr>
				<div class="row">
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.father_name.$touched && formHolder.enrollment.father_name.$invalid}">
						<label>Name of Father </label>
						<input type="text" class="form-control" name="father_name" ng-model="enrollment.father_name" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.father_name.$touched && formHolder.enrollment.father_name.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.father_occupation.$touched && formHolder.enrollment.father_occupation.$invalid}">
						<label>Occupation </label>
						<input type="text" class="form-control" name="father_occupation" ng-model="enrollment.father_occupation" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.father_occupation.$touched && formHolder.enrollment.father_occupation.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.father_number.$touched && formHolder.enrollment.father_number.$invalid}">
						<label>Phone Number </label>
						<input type="text" class="form-control" name="father_number" ng-model="enrollment.father_number" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.father_number.$touched && formHolder.enrollment.father_number.$invalid">This field is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.mother_name.$touched && formHolder.enrollment.mother_name.$invalid}">
						<label>Name of Mother </label>
						<input type="text" class="form-control" name="mother_name" ng-model="enrollment.mother_name" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.mother_name.$touched && formHolder.enrollment.mother_name.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.mother_occupation.$touched && formHolder.enrollment.mother_occupation.$invalid}">
						<label>Occupation </label>
						<input type="text" class="form-control" name="mother_occupation" ng-model="enrollment.mother_occupation" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.mother_occupation.$touched && formHolder.enrollment.mother_occupation.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.mother_number.$touched && formHolder.enrollment.mother_number.$invalid}">
						<label>Phone Number </label>
						<input type="text" class="form-control" name="mother_number" ng-model="enrollment.mother_number" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.mother_number.$touched && formHolder.enrollment.mother_number.$invalid">This field is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 form-group" ng-class="{'has-error': formHolder.enrollment.address_of_parents.$touched && formHolder.enrollment.address_of_parents.$invalid}">
						<label>Address of Parents </label>
						<input type="text" class="form-control" name="address_of_parents" ng-model="enrollment.address_of_parents" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.address_of_parents.$touched && formHolder.enrollment.address_of_parents.$invalid">This field is required</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-8">
		<div class="card-box">
			<div class="row">
				<h4 class="m-t-0 header-title"><b>Guardian</b></h4><hr>
				<div class="row">
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.guardian_name.$touched && formHolder.enrollment.guardian_name.$invalid}">
						<label>Name of Guardian </label>
						<input type="text" class="form-control" name="guardian_name" ng-model="enrollment.guardian_name" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.guardian_name.$touched && formHolder.enrollment.guardian_name.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.guardian_occupation.$touched && formHolder.enrollment.guardian_occupation.$invalid}">
						<label>Occupation </label>
						<input type="text" class="form-control" name="guardian_occupation" ng-model="enrollment.guardian_occupation" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.guardian_occupation.$touched && formHolder.enrollment.guardian_occupation.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.guardian_number.$touched && formHolder.enrollment.guardian_number.$invalid}">
						<label>Phone Number </label>
						<input type="text" class="form-control" name="guardian_number" ng-model="enrollment.guardian_number" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.guardian_number.$touched && formHolder.enrollment.guardian_number.$invalid">This field is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 form-group" ng-class="{'has-error': formHolder.enrollment.guardian_address.$touched && formHolder.enrollment.guardian_address.$invalid}">
						<label>Address </label>
						<input type="text" class="form-control" name="guardian_address" ng-model="enrollment.guardian_address" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.guardian_address.$touched && formHolder.enrollment.guardian_address.$invalid">This field is required</span>
					</div>
					<div class="col-lg-4 form-group" ng-class="{'has-error': formHolder.enrollment.guardian_relationship.$touched && formHolder.enrollment.guardian_relationship.$invalid}">
						<label>Relationship </label>
						<input type="text" class="form-control" name="guardian_relationship" ng-model="enrollment.guardian_relationship" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.guardian_relationship.$touched && formHolder.enrollment.guardian_relationship.$invalid">This field is required</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="card-box">
			<div class="row">
				<h4 class="m-t-0 header-title"><b>Educational Background</b></h4><hr>
				<div class="row">
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.enrollment.elem_school_name.$touched && formHolder.enrollment.elem_school_name.$invalid}">
						<label>Elementary School </label>
						<input type="text" class="form-control" name="elem_school_name" ng-model="enrollment.elem_school_name" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.elem_school_name.$touched && formHolder.enrollment.elem_school_name.$invalid">This field is required</span>
					</div>
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.enrollment.elem_school_address.$touched && formHolder.enrollment.elem_school_address.$invalid}">
						<label>Elementary School Addres </label>
						<input type="text" class="form-control" name="elem_school_address" ng-model="enrollment.elem_school_address" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.elem_school_address.$touched && formHolder.enrollment.elem_school_address.$invalid">This field is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.enrollment.secon_school_name.$touched && formHolder.enrollment.secon_school_name.$invalid}">
						<label>Secondary School </label>
						<input type="text" class="form-control" name="secon_school_name" ng-model="enrollment.secon_school_name" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.secon_school_name.$touched && formHolder.enrollment.secon_school_name.$invalid">This field is required</span>
					</div>
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.enrollment.secon_school_address.$touched && formHolder.enrollment.secon_school_address.$invalid}">
						<label>Secondary School Addres </label>
						<input type="text" class="form-control" name="secon_school_address" ng-model="enrollment.secon_school_address" ng-disabled="btns.ok.btn" required>
						<span class="help-block" ng-show="formHolder.enrollment.secon_school_address.$touched && formHolder.enrollment.secon_school_address.$invalid">This field is required</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 form-group">
						<label>Tech-Voc School </label>
						<input type="text" class="form-control" name="techvoc_school_name" ng-model="enrollment.techvoc_school_name" ng-disabled="btns.ok.btn">
					</div>
					<div class="col-lg-6 form-group">
						<label>Tech-Voc School Addres </label>
						<input type="text" class="form-control" name="techvoc_school_address" ng-model="enrollment.techvoc_school_address" ng-disabled="btns.ok.btn">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 form-group">
						<label>Tertiary School </label>
						<input type="text" class="form-control" name="tertiary_school_name" ng-model="enrollment.tertiary_school_name" ng-disabled="btns.ok.btn">
					</div>
					<div class="col-lg-6 form-group">
						<label>Tertiary School Addres </label>
						<input type="text" class="form-control" name="tertiary_school_address" ng-model="enrollment.tertiary_school_address" ng-disabled="btns.ok.btn">
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12 form-group" ng-class="{'has-error': formHolder.enrollment.course.$touched && formHolder.enrollment.course.$invalid}">
						<label>Course</label>
						  <select class="form-control" name="course" ng-model="enrollment.course" ng-disabled="btns.ok.btn" ng-options="course.course_name for course in courses track by course.id" ng-change="app.checkCourse(this,enrollment.course)" required>
						  </select>
						<span class="help-block" ng-show="formHolder.enrollment.course.$touched && formHolder.enrollment.course.$invalid">Course is required</span>
					</div>
				</div>
				<div class="row">
					<!-- <div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.enrollment.year_level.$touched && formHolder.enrollment.year_level.$invalid}">
						<label>Year Level:</label>
						  <select class="form-control" name="year_level" ng-model="enrollment.year_level" ng-disabled="btns.ok.btn" required>
							<option value="First Year">First Year</option>
							<option value="Second Year">Second Year</option>
							<option value="Third Year">Third Year</option>
							<option value="Fourt Year">Fourt Year</option>
						 </select>
						<span class="help-block" ng-show="formHolder.enrollment.year_level.$touched && formHolder.enrollment.year_level.$invalid">Year Level is required</span>
					</div> -->
					<div class="col-lg-6 form-group" ng-class="{'has-error': formHolder.enrollment.semester.$touched && formHolder.enrollment.semester.$invalid}">
						<label>Semester</label>
						  <select class="form-control" name="semester" ng-model="enrollment.semester" ng-options="c.semester for c in curriculum track by c.id" ng-disabled="btns.ok.btn" ng-change="app.checkSemester(this,enrollment.semester)" required></select>
						<span class="help-block" ng-show="formHolder.enrollment.semester.$touched && formHolder.enrollment.semester.$invalid">Semester is required</span>
					</div>
				</div>
			</div>
			
			<div class="row" style="margin-bottom: 5px;">
				<div class="col-lg-12">
					<button class="btn btn-primary pull-right" ng-click="app.curriculum_data.add(this)" ng-disabled="btns.ok.btn"><i class="fa fa-plus"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-striped table-bordered">
						<thead>
							<th>Descriptive Title</th>
							<th>Details</th>
							<th>Action</th>
						</thead>
						<tbody ng-repeat="es in enrollment.students_curriculum_datas">
							<td>
								<div class="col-lg-12 form-group">
								  <select class="form-control" name="curriculum_data_id{{index}}" ng-model="es.curriculum_data_id" ng-options="cd.descriptive_title for cd in students_curriculum_datas track by cd.id" ng-disabled="btns.ok.btn"></select>
								</div>
							</td>
							<td>
								<h5>No. of Units: {{es.curriculum_data_id.units}}</h5>
								<h5>Lab: {{es.curriculum_data_id.lab}}</h5>
								<h5>Lec: {{es.curriculum_data_id.lec}}</h5>
								<h5>Total: {{es.curriculum_data_id.total}}</h5>
								<h5>Day: {{es.curriculum_data_id.day}}</h5>
								<h5>Time: {{es.curriculum_data_id.time}}</h5>
								<h5>Room: {{es.curriculum_data_id.room}}</h5>
								<h5>Instructor: {{es.curriculum_data_id.instructor.fullname}}</h5>
							</td>
							<td>
								<button class="btn btn-danger" ng-click="app.curriculum_data.delete(this,es)" ng-disabled="btns.ok.btn"><i class="fa fa-remove"></i></button>
							</td>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<button class="btn btn-primary btn-lg pull-right" ng-click="app.cancel(this)">{{btns.cancel.label}}</button>
					<button class="btn btn-primary btn-lg pull-right" style="margin-right: 5px;" ng-click="app.edit(this)">Edit</button>
					<button class="btn btn-success btn-lg pull-right" ng-disabled="btns.ok.btn" style="margin-right: 5px;" ng-click="app.save(this)">{{btns.ok.label}}</button>
				</div>
			</div>
		</div>
	</div>
</form>